.container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.blog-content {
  text-align: left;
  height: 500px;
  width: 50%;
  overflow: scroll;
  border: 1px solid black;
}

.blog-content:empty:before {
  content: attr(placeholder);
  color: gray;
}

.blog-content div:focus {
  outline: none;
}

.save-button {
  height: 10%;
  width: 10%;
  font-size: 24px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-justify: auto;
}

.input-box,
.login-button {
  width: 300px;
  font-size: 24px;
}

.login-button {
  font-size: 18px;
}
